<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Squid-Box.SevenZipSharp" version="1.6.2.24" targetFramework="net472" />
  <package id="TaskScheduler" version="2.11.0" targetFramework="net472" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net472" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net472" />
  <package id="WindowsFirewallHelper" version="2.2.0.86" targetFramework="net472" />
</packages>